tags

example/server
example/client
example/hello
example/simplesvr
test/test
test/test.xcodeproj/xcuser*
test/test.xcodeproj/*/xcuser*

*.swp

Debug
Release
*.vcxproj.user
*.sdf
*.suo
*.opensdf
ipch
*.dSYM
