tags

example/server
example/client
example/hello
example/simplesvr
example/benchmark
example/*.pem
test/test
test/test.xcodeproj/xcuser*
test/test.xcodeproj/*/xcuser*
test/*.pem

*.swp

Debug
Release
*.vcxproj.user
*.sdf
*.suo
*.opensdf
*.db
ipch
*.dSYM
.*
!/.travis.yml